
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	color: #35434E;
	font-family: 'Lato';
	letter-spacing: 1px;
	font-weight: 300;
}
h1, h2, h3, h4, p, li, a {
}
h1 {
	font-size: 3em;
	margin: 50px;
	font-weight: 300;
}

.no-js #loader {
	display: none;
}

.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url() center no-repeat #444;
}

.container {
	position: relative;
	height: 1024px;
	width: 768px;
	overflow: hidden;
	background-color: #35434E;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#select-painting {
	position: absolute;
	left: 0;
	top: 0;
	width: 140px;
	height: 1024px;
	min-height: 1024px;
	padding: 0 5px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

#select-frame {
	position: absolute;
	left: 768px;
	top: 0;
	width: 140px;
	height: 1024px;
	min-height: 1024px;
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
}
#select-frame.show {
	-webkit-transform: translate3d(-140px,0,0);
	transform: translate3d(-140px,0,0);
}

#paintings, #frames {
	margin-top: 50px;
	text-align: center;
}

#frames {
	position: absolute;
	right: -130px;
	-webkit-transition: -webkit-transform 1.5s;
	transition: transform 1.5s;	
}

#frames.show {
	-webkit-transform: translate3d(-140px,0,0);
	transform: translate3d(-140px,0,0);
}

.painting_background {
	background-size: contain;
	width: 115px;
	margin: auto;
}

.painting_1 {
	//background: url(../img/painting_1_rollover.jpg) no-repeat center center;
	height: 152px;
}

.painting_2 {
	//background: url(../img/painting_2_rollover.jpg) no-repeat center center;
	height: 137px;
}

.painting_3 {
	//background: url(../img/painting_3_rollover.jpg) no-repeat center center;
	height: 165px;
}

.painting_4 {
	//background: url(../img/painting_4_rollover.jpg) no-repeat center center;
	height: 141px;
}

.painting, .frame {
	margin-left: auto;
	margin-right: auto;
	max-width: 115px;
	opacity: 1;
}

.painting_title, .frame_title {
	margin: 10px 0 30px 0;
	font-size: 13px;
	color: #EADEB4;
}

.painting_title span {
	font-style: italic;
	font-size: 16px;
}

#showroom {
	position: absolute;
	top: 0;
	left: 140px;
	z-index: 0;
	border-radius: 5px;
	background-color: #BEB29A;
	box-shadow: -3px 0 6px rgba(0,0,0,0.5), 3px 0 6px rgba(0,0,0,0.5);
	width: 628px;
	height: 1024px;
	text-align: center;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

#showroom.show {
	-webkit-transform: translate3d(-140px,0,0);
	transform: translate3d(-140px,0,0);
}

.wall {
	position: relative;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.frame_position {
	position: relative;
	top: 0;
	height: 500px;
	width: 350px;
	margin: 0 auto;
	background: url() no-repeat center center #c6bba6;
}

.painting_position {
	position: absolute;
	top: 25px;
	left: 25px;
	height: 450px;
	width: 300px;
	background: url() no-repeat center center #c6bba6;
	background-size: cover;
	-webkit-transition: background 0.1s;
	transition: background 0.1s;
}

.painting_position.highlight, .frame_position.highlight {
	background-color: #4f4f4f;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
	opacity: 1;
	/*-webkit-transform: scale3d(1.2,1.2,1);
	transform: scale3d(1.2,1.2,1);*/
}

#title {
	position: absolute;
	display: block;
	background-color: #5B656E;
	color: #EADEB4;
	bottom: -100px;
	width: 500px;
	padding: 20px 0 40px 0;
	margin: 0 50px;
	border-radius: 5px;
	box-shadow: 0 3px 6px #35434E, 0 3px 6px #35434E;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
#title.show {
	-webkit-transform: translate3d(0, -110px,0);
	transform: translate3d(0, -110px,0);
}

.drag-active {

}

.is-dragging {
	-webkit-transform: scale3d(1.5,1.5,1);
	transform: scale3d(1.5,1.5,1);
}

.is-active {
	z-index: 100;
}

.is-dropped {
	opacity: 0;
	/*-webkit-transition: all 0.5s;
	transition: all 0.5s;*/
	-webkit-transform: scale3d(0.7,0.7,1) !important;
    transform: scale3d(0.7,0.7,1) !important;
}

.is-complete {
	/*opacity: 1;
	-webkit-transition: opacity 1s, -webkit-transform 1s !important;
	transition: opacity 1s, transform 1s !important;
	-webkit-transform: scale3d(1,1,1) !important;
	transform: scale3d(1,1,1) !important;*/
}

.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}


