
@font-face { /* Webfont: Roboto-Regular */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face { /* Webfont: Roboto-Regular */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face { /* Webfont: Roboto-Light */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face { /* Webfont: Roboto-LightItalic */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face { /* Webfont: Roboto-Bold */
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff') format('woff');
    font-style: bold;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	color: #90AEBB;
	font-family: 'Roboto';
	font-weight: normal;
	letter-spacing: 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.start-screen {
	background-color: #2a4b5a;
	height: 1024px;
	width: 768px;
	position: absolute;
	top: 0;
	z-index: 100;
	color: #FFFFFF;
	text-align: center;
	padding: 100px 50px;
}

.start-screen h1 {
	font-size: 3em;
	font-weight: normal;
}

.start-screen .title {
	margin-top: 120px;
	font-size: 48px;
	font-weight: 300;
	line-height: 44px;
}

.start-screen .title span {
	font-size: 20px;
	font-weight: 300;
	font-style: italic;
}

#start-btn {
	width: 230px;
	margin: 0 auto;
	margin-top: 150px;
	padding: 20px 0;
	border-radius: 5px;
	background-color: #90AEBB;
	box-shadow: 0 2px 5px #222;
	text-transform: uppercase;
	color: #2a4b5a;
	font-weight: bold;
}

#container {
	position: relative;
	width: 768px;
	min-height: 1024px;
	max-height: 1024px;
	overflow: hidden;
	background: #BEB29A url(../img/background-light.png) no-repeat center center;
	background-size: cover;
}

#painting-menu {
	position: absolute;
	left: -210px;
	top: 0;
	z-index: 10;
	width: 200px;
	height: 100%;
	background-color: #2A4B5A;
	box-shadow: 2px 0px 3px #122026;
	padding: 0 5px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

#painting-menu.open {
	-webkit-transform: translate3d(210px,0,0);
	transform: translate3d(210px,0,0);
}

#paintings {
	margin-top: 20px;
	text-align: center;
}

#paintings .painting {
	width: 120px;
	box-shadow: 0 3px 6px #000;
}

#paintings .painting_info {
	margin: 10px 0 30px 0;
	color: #90AEBB;
	padding: 0 18px;
}

#paintings .painting_info .painting_title {
	font-size: 15px;
	line-height: 16px;
	margin-bottom: 6px;
}

#paintings .painting_info .painting_artist {
	font-size: 12px;
	font-weight: 300;
	line-height: 12px;
}

#frame-menu {
	position: absolute;
	left: 778px;
	top: 0;
	z-index: 10;
	width: 200px;
	height: 100%;
	background-color: #2a4b5a;
	box-shadow: -2px 0px 3px #122026;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

#frame-menu.open {
	-webkit-transform: translate3d(-210px,0,0);
	transform: translate3d(-210px,0,0);
}

#frames  {
	margin-top: 110px;
	text-align: center;
}

#frames .frame img {
	width: 145px;
}

#frames .frame_info {
	margin: 50px 0 5px 0;
	padding: 0 25px;
	font-weight: bold;
	opacity: 0.5;
}

.nav {
	position: relative;
	color: #625a4b;
	opacity: 0.5;
}

.nav:after, .nav:before {
	display: table;
	content: " ";
}

.nav-btn {
	position: absolute;
	top: 350px;
}

#leftMenu .nav-btn {
	left: 0;
}

#rightMenu .nav-btn {
	right: 0;
}

.nav-btn img {
	width: 80px;
}

.nav-icon {
	position: absolute;
	top: 388px;
}

#leftMenu .nav-icon {
	left: 20px;
}

#rightMenu .nav-icon {
	right: 20px;
}

.nav-icon img {
	height: 50px;
}

.nav-text {
	position: absolute;
	top: 446px;
	font-size: 14px;
	line-height: 14px;
}

#leftMenu .nav-text {
	left: 7px;
}

#rightMenu .nav-text {
	right: 10px;
}



/*.left-guide {
	display: none;
	font-family: 'Handwriting';
	position: absolute;
	top: 218px;
	left: 50px;
	width: 130px;
	color: #444;
}

.left-guide img {
	position: absolute;
	top: 50px;
	left: -9px;
	width: 150px;
}

.right-guide {
	font-family: 'Handwriting';
	position: absolute;
	top: 90px;
	right: 100px;
	color: #444;
	width: 150px;
}

.right-guide img {
	position: absolute;
	right: -36px;
	height: 40px;
}*/

#showroom {
	position: absolute;
	top: 0;
	left: 0;
	width: 768px;
	height: 1024px;
	z-index: 1;
	background: #BEB29A url(../img/background-light.png) no-repeat center center;
	text-align: center;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

#showroom.goRight {
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(100px,0,0);
}

#showroom.goLeft {
	-webkit-transform: translate3d(-100px,0,0);
	transform: translate3d(-100px,0,0);
}

.wall {
	position: relative;
	opacity: 1;
	top: 30px;
	width: 600px;
	height: 800px;
	margin: auto;
}

.frame_position {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 550px;
	height: 760px;
	text-align: center;
}

.painting_position {
	position: absolute;
	top: 155px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 370px;
	height: 450px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.painting_position.highlight {
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

.painting_position img, .frame_position img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-left: auto;
	margin-bottom: auto;
	margin-right: auto;
}

#credit-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 160px;
	margin: auto;
	background-color: #233d49;
	border-radius: 10px 10px 0 0;
	padding: 20px 0 30px;
	color: #f1f1f1;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}

#credit {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1000;
	width: 768px;
	height: 1024px;
	background-color: rgba(0,0,0,0.5);
	color: #35434E;
}

#credit .close {
	position: absolute;
	top: 80px;
	right: 55px;
	z-index: 1;
	width: 50px;
}

#credit .close img {
	height: 40px;
}

#credit .text {
	position: relative;
	background-color: #fff;
	width: 80%;
	height: 80%;
	margin: 0 auto;
	padding: 30px;
	font-size: 13px;
	margin-top: 100px;
	border-radius: 5px;
}

.credit {
	margin: 20px 0;
	display: table;
}

.credit img {
	width: 120px;
	float: left;
}

.credit p {
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

#description {
	position: absolute;
	bottom: -250px;
	left: 0;
	right: 0;
	width: 380px;
	height: 230px;
	margin: auto;
	background-color: #F8F8F8;
	color: #35434E;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	padding: 30px;
	border-radius: 5px 5px 0 0;
	box-shadow: 1px 2px 3px #847455, -1px 2px 3px #847455;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#description.show {
	-webkit-transform: translate3d(0,-250px,0);
	transform: translate3d(0,-250px,0);
}

#textMatch {
	position: absolute;
	bottom: -275px;
	left: 0;
	right: 0;
	width: 660px;
	height: 260px;
	margin: auto;
	background-color: #2a4b5a;
	color: #90AEBB;
	font-weight: 300;
	text-align: left;
	font-size: 1.25em;
	padding: 15px 35px 45px 35px;
	border-radius: 5px 5px 0 0;
	box-shadow: 2px 0px 3px #1a2e37, -2px 0px 3px #1a2e37;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#textMatch.show {
	-webkit-transform: translate3d(0,-275px,0);
	transform: translate3d(0,-275px,0);
}

#textMatch h2 {
	margin: 12px 0;
	font-size: 32px;
	font-weight: normal;
	text-transform: uppercase;
	color: #FFFFFF;
}

.animate {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.is-active {
	z-index: 100;
}

.is-dragging {}

.is-active {}

.is-dropped {}

.is-complete {}


